.completed {
    text-decoration: line-through; /* Barre de défilement pour les tâches terminées */
    color: #888; /* Couleur du texte pour les tâches terminées */
}

#taskList {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0;
}